:root {

}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Meie Script", cursive;
    color: white;
    font-weight: 100;
    text-decoration: underline;
    font-size: 50px;
    padding-top: 15px;
    margin: 0;
}

header {
    background-color: black;
    border-bottom: 1px solid aquamarine;
    margin-top: 0;
    height: 100px;
}

.epherball-header{
    background: linear-gradient(to left, transparent 60%, rgba(0,0,0)), url(./assets/surfing-trim.png);
    background-size: auto;
    background-position: center;
}

.world-header{
    background: linear-gradient(to left, transparent 60%, rgba(0,0,0)), url(./assets/map-4709863.svg);
    background-size: auto;
    background-position: center;
}
cuisine-header{
    background: linear-gradient(to left, transparent 60%, rgba(0,0,0)), url(./assets/platter-2009590_1280.jpg);
    background-size: auto;
    background-position: center;
}


.home {
    background: linear-gradient(to left, transparent 60%, rgba(0,0,0)), url(./assets/earth-1388003_1280.jpg);
}

.world-feature {
    background-color: aqua;
    height: 200px;
    width: 100%;
    border-radius: 15px;
    margin: 10px;
}

.island {
    background: linear-gradient(to top right, transparent 60%, rgba(0,0,0)), url(./assets/thunderstorm-3417042_1280.jpg);
    background-size: cover;
    background-position: top left;
}

.epherball{
    text-align: right;
    background: linear-gradient(to top left, transparent 60%, rgba(0,0,0)), url(./assets/surfing-5620531_1280.jpg);
    background-size: cover;
    background-position: top left;
}

.right-heading {
    background: linear-gradient(to left, black 15%, transparent);
    color: aliceblue;
}

.left-heading {
    background: linear-gradient(to right, black 15%, transparent);
    color: aliceblue;
}
.world-feature-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

#navlinks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}

.nav-btn {
    text-decoration: none;
    color: aquamarine;
    font-size: 1.5rem;
}

.travel-inrenga {
    width: 90%;
    border: 1px solid white;
    height: 400px;
    margin: 15px auto;
}

p {
    color: aquamarine
}
